KERNEL=="ttyACM[0-9]*", SUBSYSTEM=="tty", ATTRS{idProduct}=="520f", ATTRS{idVendor}=="1915", ATTRS{product}=="nRF52 USB Product", SYMLINK+="ttyUSB_LGEUWB"